In [1]:
# !pip install dash
# !pip install dash-renderer
# !pip install dash_html_components
# !pip install dash_core_components

In [2]:
import dash
import dash_core_components as dcc
import dash_html_components as html
import pandas as pd

/var/folders/7b/ph4zr6l10n154bhvkcqz63zm0000gn/T/ipykernel_29383/2641342000.py:2: UserWarning:
The dash_core_components package is deprecated. Please replace
`import dash_core_components as dcc` with `from dash import dcc`
  import dash_core_components as dcc
/var/folders/7b/ph4zr6l10n154bhvkcqz63zm0000gn/T/ipykernel_29383/2641342000.py:3: UserWarning:
The dash_html_components package is deprecated. Please replace
`import dash_html_components as html` with `from dash import html`
  import dash_html_components as html

In [3]:
df = pd.read_csv('dataset_space_API_past_launches_raw.csv')
df_droped = df.dropna()
df_droped = df_droped.reset_index(drop=True)
df_droped.head()
df_label = df_droped.replace(['True Ocean','True RTLS', 'True ASDS', 
                         'False Ocean', 'False RTLS', 'False ASDS', 'None ASDS','None None',
                         'True','False'],
                        [1,1,1,
                         0,0,0,0,0,
                         1,0])
df = df_label

In [4]:
df.head()

,FlightNumber,Date,BoosterVersion,PayloadMass,Orbit,LaunchSite,Outcome,Flights,GridFins,Reused,Legs,LandingPad,Block,ReusedCount,Serial,Longitude,Latitude
0,19,2015/1/10,Falcon 9,2395.0,ISS,CCSFS SLC 40,0,1,True,False,True,5e9e3032383ecb761634e7cb,1.0,0,B1012,-80.577366,28.561857
1,22,2015/4/14,Falcon 9,1898.0,ISS,CCSFS SLC 40,0,1,True,False,True,5e9e3032383ecb761634e7cb,1.0,0,B1015,-80.577366,28.561857
2,24,2015/6/28,Falcon 9,2477.0,ISS,CCSFS SLC 40,0,1,True,False,True,5e9e3032383ecb6bb234e7ca,1.0,0,B1018,-80.577366,28.561857
3,25,2015/12/22,Falcon 9,2034.0,LEO,CCSFS SLC 40,1,1,True,False,True,5e9e3032383ecb267a34e7c7,1.0,0,B1019,-80.577366,28.561857
4,26,2016/1/17,Falcon 9,553.0,PO,VAFB SLC 4E,0,1,True,False,True,5e9e3033383ecbb9e534e7cc,1.0,0,B1017,-120.610829,34.632093

In [5]:
Outcome_count = df['Outcome'].value_counts().to_frame()
Outcome_count

   Outcome
1       52
0        9

In [6]:
Outcome = df['Outcome']
LaunchSite = df['LaunchSite']

In [7]:
Outcome = df['Outcome']

In [8]:
app = dash.Dash()

In [9]:
app.layout = html.Div([
    html.H1('Landing Success or not'),
#     html.Div('Dash Dash Dash'),
    dcc.Graph(
        id = 'sample-graph',
        figure = {'data':[
                     {'x':[5,10],'y':[52,9],'type':'bar','name':'First Chart'},
                         ],
                  'layout':{'title':'Outcome'}
                 }
    )
])

In [ ]:
if __name__ == '__main__':
    app.run_server(port=4050)

Dash is running on http://127.0.0.1:4050/

 * Serving Flask app "__main__" (lazy loading)
 * Environment: production
   WARNING: This is a development server. Do not use it in a production deployment.
   Use a production WSGI server instead.
 * Debug mode: off

 * Running on http://127.0.0.1:4050/ (Press CTRL+C to quit)
127.0.0.1 - - [22/Sep/2022 22:57:30] "GET / HTTP/1.1" 200 -
127.0.0.1 - - [22/Sep/2022 22:57:30] "GET /_dash-layout HTTP/1.1" 200 -
127.0.0.1 - - [22/Sep/2022 22:57:30] "GET /_dash-dependencies HTTP/1.1" 200 -
127.0.0.1 - - [22/Sep/2022 22:57:30] "GET /_dash-component-suites/dash/dcc/async-graph.js HTTP/1.1" 200 -
127.0.0.1 - - [22/Sep/2022 22:57:30] "GET /_dash-component-suites/dash/dcc/async-plotlyjs.js HTTP/1.1" 200 -